html, body {
    width:  100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

#pdl_canv {
    background-color: black;
    position: absolute;
    z-index: 0;
}

#bal_canv {
	z-index: 1;
    position: absolute;
}
