html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

#menu {
    padding: 10px 0 0 10px;
    z-index: 10;
    background-color: transparent;
}

#menu h1 {
    margin: 0;
}

#conf {
    margin-top: 20px;
}

#conf h2 {
    margin-left: 20px;
}

.playerNumber * {
	display: inline;
    margin-left: 10px;
    margin-top: 20px;
}

.playerNumber input {
	width: 40px;
    margin-left: 15px;
}

.row {
    display: block;
    margin-top: 10px;
}

.row * {
    display: inline;
    margin-left: 10px;
}

.keys {
    width: 30px;
    height: 20px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 3px;
    text-align: center;
}

.canv {
    position: absolute;
    display: none;
}

#bg {
    background-color: black;
    z-index: 0;
}

#fg {
    z-index: 1;
}

#ffg {
    z-index: 2;
}
